@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ff-league_spartan: 'League Spartan', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

    /* color */
  --selective-yellow: #feca2e;
  --eerie-black-1: #171717;
  --eerie-black-2: #101212;
  --quick-silver: #a6a6a6;
  --radical-red: #f3495b;
  --light-gray: #cccccc;
  --isabelline: #f4f1ec;
  --gray-x-11: #bababa;
  --kappel_15: rgba(38, 199, 167, 0.15);
  --platinum: #e6e6e6;
  --gray-web: #7f7f7f;
  --black_80: rgba(0, 0, 0, 0.8);
  --white_50: rgba(255, 255, 255, 0.5);
  --black_50: rgba(0, 0, 0, 0.5);
  --black_30: rgba(0, 0, 0, 0.3);
  --kappel: #26c7a7;
  --white: #ffffff;
  --gradient: linear-gradient(-90deg, #34b57b 0%, #26c7a7 100%);

  /* typography */
  --fs-1: 4.2rem;
  --fs-2: 3.2rem;
  --fs-3: 2.3rem;
  --fs-4: 1.8rem;
  --fs-5: 1.5rem;
  --fs-6: 1.4rem;
  --fs-7: 1.3rem;

  --section-padding: 75px;

  /* radius */
  --radius-pill: 500px;
  --radius-circle: 50%;
  --radius-3: 3px;
  --radius-5: 5px;
  --radius-10: 10px;

  /* transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

  /* shadow */
   --shadow-1: 0 6px 15px 0 rgba(0, 0, 0, 0.05);
  --shadow-2: 0 10px 30px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 50px 0 rgba(34, 51, 68, 0.1);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sparta: var(--ff-league_spartan);
  --font-poppins: var(--ff-poppins);

  /* color */
  --selective-yellow: var(--selective-yellow);
  --eerie-black-1: var(--eerie-black-1);
  --eerie-black-2: var(--eerie-black-2);
  --quick-silver: var(--quick-silver);
  --radical-red: var(--radical-red);
  --light-gray: var(--light-gray);
  --isabelline: var(--isabelline);
  --gray-x-11: var(--gray-x-11);
  --kappel_15: var(--kappel_15);
  --platinum: var(--platinum);
  --gray-web: var(--gray-web);
  --black_80: var(--black_80);
  --white_50: var(--white_50);
  --black_50: var(--black_50);
  --black_30: var(--black_30);
  --kappel: var(--kappel);
  --white: var(--white);
  --gradient: var(--gradient);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}